/vendor
/node_modules
/.env
/.env.*
/.phpunit.result.cache
/storage/*.key
/.idea
/.vscode
/public/hot
/public/storage
/storage/app/public
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
